.body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #042632, #253538, #1a1e23, #bcf3f0);
    background-size: 300% 300%;
    animation: gradient-animation 10s ease infinite;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.select{
    width: 100%;
    outline: none;
    padding: 5px 0px;
}


label {
    display: block;
    margin-bottom: 5px;
}

.in {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.in:focus {
    border-color: rgb(31, 169, 185);
    outline: none;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: rgb(31, 169, 185);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(31, 82, 87);
}

.Regfailed{
    text-align: center;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}